include ../menu/menu-crm
include ../icon/icon

mixin header-blog(data)
  +b('header-crm-backend')&attributes(attributes)
    img(src="/src/static/images/header-crm-circle-big.png", alt="circle").back.position-absolute
    +menu-crm
    +b('header-crm', {}, 'header').position-relative.set-pt-92.set-pb-100
      .container.position-relative
        +b('blog-cards')&attributes(attributes).d-flex
            - 
                cards =[
                {img: '/src/static/images/card-blog-1.png', header: 'Welcome-цепочки, что это </br>и для чего нужны', text: 'Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных. </br>Бизнес-план ускоряет портрет потребителя.', data: '06.07.2022'},
                {img: '/src/static/images/card-blog-2.png', header: 'Где взять базу подписчиков </br>для рассылки', text: 'Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных. </br>Бизнес-план ускоряет портрет потребителя.', data: '06.07.2022'},
                {img: '/src/static/images/card-blog-3.png', header: 'Заблуждения в email маркетинге, </br>которые кажутся истиной', text: 'Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных. </br>Бизнес-план ускоряет портрет потребителя.', data: '06.07.2022'},]
            for card, index in cards
              a(href="#")
                  +e('card')
                      +e('bk-cont').set-pt-40
                          img(src= card.img, alt="img").set-pb-42
                      +e('card-bottom')
                          h3.fz-20.lh-24.set-mb-17.set-mt-20!= card.header
                          p.fz-14.lh-20.set-mb-34!= card.text
                          p.fz-14.lh-20!= card.data
        +b('video_player')&attributes(attributes).set-pt-110
          +e('header').fz-56.lh-72.set-mb-43 Ответы на вопросы
          +e('wrapper').d-flex
            +e('video')
              +e('video-item', {}, 'video')(preload="metadata", src="/src/static/videos/venera.mp4", controls, poster="/src/static/images/video-poster-1.jpg")
              +e('name').fz-32.set-mt-15.set-mb-15 Чем хорош телемаркетинг
              p.video_text.fz-14.lh-20 Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных. 
            +e('list')
              - 
                items =[
                  {href: '##', src: 'src/static/videos/new-yorck.mp4', img: '/src/static/images/video-poster-2.jpg', header: '[1]Где взять базу подписчиков </br>для рассылки', text: '[1]Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных.'},
                  {href: '##', src: 'src/static/videos/venera.mp4', img: '/src/static/images/video-poster-3.jpg', header: '[2]Где взять базу подписчиков </br>для рассылки', text: '[2]Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных.'},
                  {href: '##', src: 'src/static/videos/new-yorck.mp4', img: '/src/static/images/video-poster-4.jpg', header: '[3]Где взять базу подписчиков </br>для рассылки', text: '[3]Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных.'},
                  {href: '##', src: 'src/static/videos/venera.mp4', img: '/src/static/images/video-poster-1.jpg', header: 'Чем хорош телемаркетинг', text: 'Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных.'},
                  {href: '##', src: 'src/static/videos/venera.mp4', img: '/src/static/images/video-poster-4.jpg', header: '[5]Где взять базу подписчиков </br>для рассылки', text: '[5]Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных.'},
                  {href: '##', src: 'src/static/videos/venera.mp4', img: '/src/static/images/video-poster-2.jpg', header: '[6]Где взять базу подписчиков </br>для рассылки', text: '[6]Побочный PR-эффект, как принято считать, </br>основан на тщательном анализе данных.'}]
              for item, index in items
                a(href= item.href) 
                  +e('list-item').d-flex.set-mb-24
                    +e('list-video').position-relative
                      video(preload="none", src= item.src, poster= item.img).set-mr-22
                      a(href="#") 
                        img(src="/src/static/images/play.svg", alt="play").position-absolute.set-w-20.set-h-22.img-video
                    +e('info')
                      h5.fz-20.lh-24!= item.header
                      p.video_text-list.fz-14.lh-20!= item.text

