include ../icon/icon

mixin footer(data = {})
  +b('footer', {}, 'footer')&attributes(attributes).set-pt-66
    .container
      +e('box').d-flex.justify-content-between
        +e('Services').fz-18.lh-44
          h3 Услуги
          - services = [{name: "Email-маркетинг", href: "/email.html"}, {name: "CRM-маркетинг", href: "/crmMarketing.html"}, {name: "Телемаркетинг", href: "/telemarketing.html"}, {name: "Контент-маркетинг", href: "/con-marcketing.html"}]
            for i in services
              p
                a(href= i.href)= i.name
        +e('Agency').fz-18.lh-44
          h3 Агентство
            - info = [{name: "O нас", href: "/contact.html"}, {name: "Карьера", href: "/career.html"}, {name: "Блог", href: "/blog.html"}]
          for i, index in info
            p
              a(href= i.href)= i.name
        +e('Contacts').set-w-260.fz-18.lh-28
          h3 Контакты
          +e('telephone').d-flex.align-items-center.set-mb-12
            +e('img-1').set-mr-17.set-w-20.set-h-20
            a(href="#") 8 (903) 920-00-19
          +e('mail').d-flex.align-items-center.set-mt-12
            +e('img-2').set-mr-17.set-w-19.set-h-15
            a(href="#") info@keynex.ru
          +e('address').d-flex.set-mt-12
            +e('img-3').set-mr-17.set-w-17.set-h-20
            a(href="/contact.html") г. Красноярск, </br>ул. Караульная 3, </br>офис 301
        +e('network')
          h3 Соцсети
          +e('social-link', {}, 'a')(href="#").set-w-27.set-h-27
            +icon('instagram')
          +e('social-link', {}, 'a')(href="#").set-mt-18.set-w-24.set-h-21
            +icon('telegram')
          +e('social-link', {}, 'a')(href="#").set-mt-24.set-w-28.set-h-16
            +icon('vk')
        +e('follow')
          h2.fz-32.lh-40 Следите за нами
          p.fz-16.lh-24 Рассказываем, как повысить продажи и сохранить лояльность </br>клиентов. Показываем кейсы из разных сфер В2В и В2С. Пишем не </br>чаще двух раз в неделю!
          +e('form', {}, 'form')(action="#").set-mt-56.w-100.set-h-72
              +e('form-label', {}, 'label')(for="search").icon
              +e('form-input', {}, 'input')(
                  type="text"
                  placeholder="Ваш Email"
                  name="mailk"
                  ).fz-16.lh-24.set-w-235.h-100
              +e('button', {}, 'a')(href="#").brand-button.red.link.set-w-167 Подписаться
      hr
      +e('bottom').d-flex.justify-content-between.set-pt-24.set-pb-26.fz-16.lh-24
        a(href="/main.html") Keynex
        a(href="#") Политика конфиденциальности